/.vs/SimpleCalculator/v15
/SimpleCalculator/Properties
/SimpleCalculator/obj/Debug
/SimpleCalculator/bin/Debug/app.publish
/SimpleCalculator/bin/Debug/SimpleCalculator.exe.manifest
/SimpleCalculator/bin/Debug/SimpleCalculator.application
/SimpleCalculator/SimpleCalculator.csproj.user
/SimpleCalculator/Form2.Designer.cs~RF2b51fa2.TMP
