/.vs/SimpleCalculator/v15
/SimpleCalculator/Properties
/SimpleCalculator/obj/Debug
/SimpleCalculator/bin/Debug/app.publish
/SimpleCalculator/bin/Debug/SimpleCalculator.exe.manifest
/SimpleCalculator/bin/Debug/SimpleCalculator.application
